.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid red;
}

.logo {
    position: block;
    top: 15px;
    width: 180px;
    height: 80px;
    background: url(../images/logo.png) no-repeat;
    font-size: 16px;
    text-align: left;
}

.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: normal;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: red;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.reg_form ul li span {
    color: rgb(52, 41, 255);
}

.agree {
    padding-left: 95px;
}

.agree input {
    vertical-align: middle;
}

.agree a {
    color: #1ba1e6;
}

.btn {
    width: 200px;
    height: 35px;
    background-color: #dc1825;
    font-size: 14px;
    color: #ccc;
    margin: 30px 0 0 70px;
}